<p>
  Sim, basta estar logado e clicar em “Gerenciar times e jogadores”
</p>
<p>
  <%= image_tag 'https://lh4.googleusercontent.com/nDXdfELPw9Pf5x5mEQqtbadjVrG1p0YR5NZy4rW8rIsbs9TLgx8vH5Al9Q-nLqfKeg5gCCr9ftH7WUI1y8IxzAgCfPqourVt4StZBMFFAHKd2UltcMUaJwEYpA',
    class: 'img img-polaroid' %>
</p>
<p>
  Depois click em criar novo time:
</p>
<p>
  <%= image_tag 'https://lh3.googleusercontent.com/HI7q7yVNpoeXcwMuLHAemzvZhLTa-2TGYnmDfL4RT7COY2mCq_8hiQlML5NCk9EnLrucRxvbmt_OJuJh1gr-08VeH9klCyT4GFIEU1tByo8RdwqR5g-0ooc3Vg', class: 'img img-polaroid' %>
</p>
<p>
  Então forneça as informação do time a ser criado. Nome, uma abreviação, para
  ser usada nos previews das partidas na landing e o esporte a qual o time
  pertence. Adicionalmente você pode associar uma imagem ao time.
</p>
<p>
  <%= image_tag 'https://lh6.googleusercontent.com/17dtz9tOAUCf8AWCzGdqWpTXr4YcL8WnglQopM3U8-upMrWdFTFmPQjVdW_dk7cDn7efJ3PvZE1x-0NrZFWiHNXaltqotJUlBQ7jW6E05-Fbts6CWg4iPGP6EQ', class: 'img img-polaroid' %>
</p>
<p>
  Com o time criado, você deve colocar os jogadores que pertencem a ele, para
  isso click em “criar novo jogador”
</p>
<p>
  <%= image_tag 'https://lh5.googleusercontent.com/XL0bp-RtORS5JvMT5nP2Q-VmAdvWYBR89l_RHdEm0OtEzlcXNZFn0QcAxvLzHQ6VRZQu1jbc2B9pF1Eb8HperfCrFn1tmHGBkOGDY6C_zEUHqPkZln8dUMX9Ew', class: 'img img-polaroid' %>
</p>
<p>
  E coloque as informações referentes ao jogador. Não esqueça de colocar o seu
  time no campo “time” para associar o jogador criado ao time que você criou.
</p>
<p>
  <%= image_tag 'https://lh4.googleusercontent.com/eAA2z9iFE-durGjXkZ2TgrypaHufMkYE5RCA3dVCuO8J6niUZrhA_QiUwY008wU1qjxPXpG_UZ-clxcD5UBVMpBek0M9jdfUrYyD7BTpJs0opS_qeSRe0pSvoQ', class: 'img img-polaroid' %>
</p>
