<% content_for (:include_js) { 'help' } %>

<% content_for :left_side_bar do %>
<ul class="nav nav-list bs-docs-sidenav affix">
  <li class="active help-center">
    <a href="#help-center">
      Central de Ajuda
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#first-steps">
      Primeiros Passos
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#broadcasting">
      Transmissão
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#collab-broadcasting">
      Colaboração
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#teams-management">
     Times e Jogadores
      <i class="icon-chevron-right"></i>
    </a>
  </li>
  <li>
    <a href="#upcoming">
      Em breve...
      <i class="icon-chevron-right"></i>
    </a>
  </li>
</ul>
<% end %>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Atenção!</strong> Nossa Central de Ajuda está em desenvolvimento. Em
  breve disponibilizaremos vários artigos sobre como utilizar a plataforma!
</div>

<section id='help-center'>
  <br />
  <div class='page-header'>
    <h1>Central de Ajuda</h1>
    Seja bem vindo à Central de Ajuda do uSport. Aqui você encontrará páginas que
    irão auxiliá-lo a utilizar a ferramenta da melhor maneira possível para qualquer
    que seja seu objetivo (transmitir, acompanhar, comentar jogadas, etc.).
  </div>
</section>
<section id='first-steps'>
  <br />
  <div class='page-header'>
    <h2>Primeiros Passos</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <%= link_to '#help', class: 'expander' do %>
          <i class="chevron icon-chevron-right"></i> Como me cadastro?
        <% end %>
      </li>
      <li class='expand-help' id='sign-up' style='display: none'>
        <a>
          Você pode se cadastrar através de nossa página de cadastro ou através
          do Facebook
        </a>
      </li>
      <li>
        <%= link_to 'Como faço login pelo Facebook?' %>
      </li>
      <li>
        <%= link_to 'O que é exibido na página inicial do uSport?' %>
      </li>
      <li>
        <%= link_to 'Por que o uSport só dá suporte à transmissão de jogos de Futebol Americano?' %>
      </li>
    </ul>
  </div>
</section>
<section id='broadcasting'>
  <br />
  <div class='page-header'>
    <h2>Transmissão</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to 'Como transmito um jogo de futebol americano através do uSport?' %></li>
      <li>
        <%= link_to 'Como transmito um jogo de futebol americano através do uSport utilizando o
        meu celular ou tablet?' %>
      </li>
      <li><%= link_to 'Como crio uma partida de futebol americano no uSport?' %></li>
    </ul>
  </div>
</section>
<section id='collab-broadcasting'>
  <br />
  <div class='page-header'>
    <h2>Transmissão Colaborativa</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <%= link_to 'Uma partida pode ser transmitida por mais de uma pessoa ao mesmo tempo?' %>
      </li>
      <li><%= link_to 'Como transmitir uma partida de futebol americano colaborativamente utilizando o uSport?' %></li>
    </ul>
  </div>
</section>
<section id='teams-management'>
  <br />
  <div class='page-header'>
    <h2>Gerenciamento de Times e Jogadores</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to 'Quais times estão cadastrados no uSport?' %></li>
      <li><%= link_to 'Quem é responsável por cadastrar e manter os times no uSport?' %></li>
      <li><%= link_to 'Posso criar meu próprio time no uSport?' %></li>
    </ul>
  </div>
</section>
<section id='upcoming'>
  <br />
  <div class='page-header'>
    <h2>Funcionalidades Futuras</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to 'Posso criar um campeonato no uSport?' %></li>
    </ul>
  </div>
</section>

