<% content_for (:include_js) { 'help' } %>

<% help_center = YAML.load_file('config/help_center.yml') %>

<% content_for :left_side_bar do %>
  <ul class="nav nav-list bs-docs-sidenav affix">
    <% help_center.each do |key, val| %>
      <li>
        <%= link_to "##{key}" do %>
          <%= val['nav-entry'] %> <i class="icon-chevron-right"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Atenção!</strong> Nossa Central de Ajuda está em desenvolvimento. Em
  breve disponibilizaremos vários artigos sobre como utilizar a plataforma!
</div>

<section id='help-center'>
  <br />
  <div class='page-header'>
    <h1>Central de Ajuda</h1>
    Seja bem vindo à Central de Ajuda do uSport. Aqui você encontrará páginas que
    irão auxiliá-lo a utilizar a ferramenta da melhor maneira possível para qualquer
    que seja seu objetivo (transmitir, acompanhar, comentar jogadas, etc.).
  </div>
</section>

<% help_center.each do |key, val| %>
  <section id='<%= key %>'>
    <br />
    <div class='page-header'>
      <h2><%= val['title'] %></h2>
      <ul class="nav nav-tabs nav-stacked">
        <% val['topics'].each do |k, v| %>
          <li>
            <%= link_to '#help', id: "#{k}", class: 'expander' do %>
              <i class="chevron icon-chevron-right"></i> <%= v %>
            <% end %>
          </li>
          <li class='expand-help disabled' id='<%= k %>' style='display: none'>
            <a>
              <%= render partial: "#{k}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
