<%= form_for @channel, :url => { :action => action } do |f| %>
  <fieldset>
    <legend>Novo Canal</legend>
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Nome do canal" %>
    <% unless action == 'create' %>
      <%= f.label :users %>
      <dd>
        <ul>
          <% @channel.user_channel_associations.each do |uca| %>
            <li> <%= uca.user.display_name %></li>
          <%end %>
        </ul>
      </dd>
      <%= text_field "collaborator", :username, placeholder: 'Adicionar novo colaborador' %>
      <span class="help-block">Informe o nome de usuário do novo colaborador</span>
    <% end %>
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => "Descrição do canal", :cols => "30", :rows =>"8", :style => "resize: none;" %>
    <%= f.label :avatar %>
    <%= image_tag @channel.avatar(:thumb) %>
    <br />
    <%= f.file_field :avatar %><br /><br />
    <%= f.submit nil, class: 'btn' %>
  </fieldset>
<% end %>
