<%= link_to channel_path(preview), style: "display: inline-block" do %>
  <div style="display: inline-block; max-width: 250px; padding: 0px" class="well">
    <table class="table table-striped" style="margin-bottom: 0px">
      <thead>
        <tr>
          <th style="width: 50px">
            <%= image_tag(preview.avatar(:thumb), width: '40px',
              class: 'img-rounded img-polaroid channel-avatar', :'data-toggle' => 'tooltip',
              :'data-placement' => 'top', :'data-original-title' => preview.name) %>
          </th>
          <th colspan="2">
              <%= preview.name %> <%= show_heart_if_favorite(current_user, preview).html_safe %>
              <p class='muted' style="font-size: 11px">
                por <%= link_to(preview.owner.display_name,"#") %><span style="padding: 0px 5px">.</span>
                <%= time_ago_in_words(preview.created_at).gsub('aproximadamente','±')%>
              </p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if preview.matches.last %><%# Canal já transmitiu alguma partida %>
            <% if preview.matches.last.moves.last %><%# Partida tem jogada %>
              <td style="text-align: right">
                <%= image_tag("icons/#{preview.matches.last.moves.last.kind}.png") %>
              </td>
              <td style="text-align: left">
                <%= preview.matches.last.moves.last.kind %>,
                <% unless ['comment', 'end'].include? preview.matches.last.moves.last.kind %>
                  #<%= preview.matches.last.moves.last.player.number %>
                  <%= preview.matches.last.moves.last.player.first_name %><br />
                <% end %>
                <%= preview.matches.last.moves.last.description %><br />
                X <i class="icon-thumbs-up"></i>
                Y <i class="icon-comment"></i>
              </td>
            <% else %>
              <td colspan='3'>
                <% if preview.matches.last.date > Time.now %>
                  Próxima partida será transmitida
                  <%= l preview.matches.last.date, format: :short %>
                <% else %>
                  Última partida foi transmitida
                  <%= l preview.matches.last.date, format: :short %>
                <% end %>
              </td>
            <% end %>
          <% else %><%# Canal não tem nenhuma partida %>
            <td colspan='3'>
              <p class='muted'>
                Este canal ainda não transmitiu nenhuma partida.
              </p>
            </td>
          <% end %>
        </tr>
        <tr>
          <td style="text-align: left">
            <% if preview.matches.last %><%# Canal já transmitiu alguma partida %>
              <%# TODO futuramente há de se checar o tipo da partida %>
              <%= image_tag('icons/touchdown.png', width: '40px',
                class: 'channel-avatar', :'data-toggle' => 'tooltip',
                :'data-placement' => 'bottom', :'data-original-title' => 'Futebol americano') %>
            <% else %>
              <%# Por enquanto não mostra nada %>
            <% end %>
          </td>
          <td style="text-align: center">
            <% if preview.matches.last%>
              <%#= preview.matches.last.teams[0].name %>
              <%= image_tag(preview.matches.last.teams[0].avatar(:thumb), width: '25px',
                class: 'channel-avatar', :'data-toggle' => 'tooltip',
                :'data-placement' => 'top', :'data-original-title' => preview.matches.last.teams[0].name) %>
              <%= preview.matches.last.value1 %>
              X
              <%= preview.matches.last.value2 %>
              <%= image_tag(preview.matches.last.teams[1].avatar(:thumb), width: '25px',
                class: 'channel-avatar', :'data-toggle' => 'tooltip',
                :'data-placement' => 'top', :'data-original-title' => preview.matches.last.teams[1].name) %>
            <% else %>
              <%# Por enquanto não mostra nada %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
