<% content_for(:include_js) { 'channels' } %>

<% content_for :left_side_bar do %>
  <div class='thumbnail well'>
    <%= image_tag(@channel.avatar(:thumb)) %>
    <h4 title='<%= @channel.name %>'>
      <%= @channel.name.truncate(15) %>
      <%= show_heart_if_favorite(current_user, @channel).html_safe %>
    </h4>
    <dl>
      <% if @channel.description %>
        <dt>Sobre o Canal</dt>
        <dd><%= @channel.description %></dd>
      <% end %>
      <dt>Dono do Canal</dt>
      <dd><%= @channel.owner.display_name %></dd>
      <% if @channel.user_channel_associations.length > 1 %>
        <dt>Colaboradores</dt>
        <dd>
          <ul>
            <% @channel.user_channel_associations.each do |uca| %>
              <li id='collaborator-<%= uca.id %>'><%= uca.user.display_name %>
                <% if can? :manage, uca %>
                 <%= link_to user_channel_association_path(uca), method: :delete, remote: :true,
                  confirm: 'Tem certeza que deseja remover esse colaborador?' do %>
                   <i class="icon-trash"></i>
                 <% end %>
                <% end %>
              </li>
            <%end %>
          </ul>
        </dd>
      <% end %>
    </dl>
    <div class="btn-group btn-group-vertical" style="width: 100%;">
      <% if can? :manage, @channel %>
        <%= link_to new_match_path(channel_id: @channel), class: 'btn' do %>
          <i class="icon-desktop"></i> Nova Partida!
        <% end %>
        <%= link_to edit_channel_path(@channel), class: 'btn' do %>
          <i class="icon-cog"></i> Editar Canal
        <% end %>
      <% end %>
      <% if can?(:create, UserFavoriteChannel) & !@channel.is_favorite_of?(current_user) %>
        <%= link_to user_favorite_channels_path(current_user, channel_id: @channel.id),
            method: :post, class: 'btn' do %>
          <i class='icon-heart'></i> Adicionar aos Favoritos
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="btn span12 hidden-desktop">

    <%=link_to "Nova Partida", new_match_path(channel_id: @channel) %>

</div>

<h2>Partidas</h2>
<% if @channel.matches.length == 0 %>
  Esse canal ainda não transmitiu nenhuma partida
<% end %>

<ul>
  <% @channel.matches.each do |m| %>
    <div class="well">
      <h1>
        <%= link_to m.name, match_path(m)%>
      </h1>
      <%= m.teams[0].name %>
      <%= image_tag m.teams[0].avatar(:thumb) %>
      <%= m.value1.to_s %>
      X
      <%= m.value2.to_s %>
      <%= image_tag m.teams[1].avatar(:thumb) %>
      <%= m.teams[1].name %>
    </div>
  <% end %>
</ul>
