<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true,
      :placeholder => 'Digite seu e-mail' %><br />

    <%= f.label :password %>
    <%= f.password_field :password,
      :placeholder => 'Digite sua senha' %><br />

    <%= f.label :remember_me, :class => 'checkbox' do %>
      <%= f.check_box :remember_me %> Lembrar
    <% end %>
    <%= f.submit "Entrar", :class => 'btn' %><br />

    <span class="span2">
      <br />
      <%= link_to "Logar com Facebook", '/channels?facebook=login', :class => "btn btn-primary disabled" %>
    </span>
  </fieldset>
<% end %>
