<% content_for :load_javascript_before_application do %>
  <%= javascript_include_tag 'landing' %>
<% end %>

<% content_for :left_side_bar do %>
  <ul class='well nav nav-list'>
    <li><%= link_to '<i class="icon-tint"></i> Eventos'.html_safe, "/"  %></li>
    <li><%= link_to '<i class="icon-desktop"></i> Canais'.html_safe, "/channels"  %></li>
    <% if current_user %>
      <li><%= link_to '<i class="icon-user-md"></i> Meus Canais'.html_safe, channels_path(user_id: current_user) %></li>
      <li>
        <%= link_to '<i class="icon-heart-empty"></i> Canais Favoritos'.html_safe,
          user_favorite_channels_path(current_user) %>
      </li>
    <% end %>
    <li><%= link_to '<i class="icon-group"></i> Esportes'.html_safe %></li>
  </ul><hr />
  <div class='well'>
    <h5>Bem-Vindo!</h5>Quer saber mais sobre o <b>USport</b>?
  </div>
<% end %>

<div class="thumbnails">
    <%= render :partial => 'matches/preview', :collection => @matches %>
</div>
</div>