<% content_for :left_side_bar do %>
  <ul class='well nav nav-list'>
    <li><%= link_to 'Partidas' %></li>
    <li><%= link_to 'Canais' %></li>
    <% if current_user %>
      <li><%= link_to 'Meus Canais' %></li>
      <li><%= link_to 'Canais Favoritos' %></li>
    <% end %>
    <li><%= link_to 'Esportes' %></li>
  </ul><hr />
  <div class='well'>
    <h5>Bem-Vindo!</h5>Quer saber mais sobre o <b>USport</b>?
  </div>
<% end %>

<div class="thumbnails"> 
    <%= render :partial => 'matches/preview', :collection => @matches %>
</div>
