<ul class='well nav nav-list'>
  <li class = <%= "active" if @active_page == "Home" %> ><%= link_to '<i class="icon-tint"></i> Eventos'.html_safe, "/"  %></li>
  <li class = <%= "active" if @active_page == "Channels" %> ><%= link_to '<i class="icon-desktop"></i> Canais'.html_safe, "/channels"  %></li>
  <% if current_user %>
    <li class = <%= "active" if @active_page == "UserChannels" %> ><%= link_to '<i class="icon-user-md"></i> Meus Canais'.html_safe, channels_path(user_id: current_user) %></li>
    <li class = <%= "active" if @active_page == "FavoriteChannels" %> >
      <%= link_to '<i class="icon-heart-empty"></i> Canais Favoritos'.html_safe,
        user_favorite_channels_path(current_user) %>
    </li>
  <% end %>
  <li class = <%= "active" if @active_page == "Esportes" %> ><%= link_to '<i class="icon-group"></i> Esportes'.html_safe, root_path(sport: 'soon') %></li>
</ul><hr />
<div class='well'>
  <h5>Bem-Vindo!</h5>Quer saber mais sobre o <b>uSport</b>? Veja nossa
  <%= link_to 'página para iniciantes', '/about' %> ou visite o nosso
  <b><%= link_to 'blog', 'http://blog.quince.com.br' %></b>.
</div>
