<script type="text/javascript">

</script>
<%= form_for @move, url: match_moves_path(@move.match), remote: remote, autocomplete: :off do |f| %>
  <legend>Nova Jogada</legend>

  <div>
    <%= f.label :quarter %>
    <%= f.select :quarter, options_for_select([["--", 0], ["First", 1],
    ["Second", 2], ["Third", 3], ["Fourth", 4]]) %>
  </div>

  <div>
    <%= f.label :kind %>
    <%= f.select :kind, options_for_select(@kinds) %>
  </div>

  <div>
    <%= f.label :team %>
    <%= f.select :team,
      options_for_select(@match.teams.collect { |t| [t.name, t.id] }) %>
  </div>

  <div>
    <%= f.label :yards %>
    <%= f.select :yards, options_for_select(@yards) %>
  </div>

  <div >
    <%= f.label :minute %>
    <%= f.select :minute, options_for_select(@minutes) %>
  </div>

  <div>
    <%= f.label :player %>
    <% value = "##{@move.player.number} #{@move.player.first_name}" if @move.player %>
    <%= f.text_field :player, class: 'typeahead player', value: value,
      autocomplete: :off, required: :true %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, cols: "30", rows: "8", style: "resize: none;" %>
  </div>
  <%= f.submit class: "btn" %>
<% end %>
