<tr id="<%=move.id%>">
  <td width="40px">
    <%= image_tag(move.team.avatar, :id => "thumb", :class => "img-polaroid img-rounded") %>
  </td>
  <td>
    <p><b><%= move.kind %>, #<%= move.player.number %> <%= move.player.first_name %></b></p>
    <p><%= move.description %></p>
    <ul class="inline">
      <li><a href="#"><strong>Torcer</strong></a></li><span>.</span>
      <li><a href="#"><strong>Comentar</strong></a></li><span>.</span>
      <li><a href="#"><i class="icon-thumbs-up"></i></a></li><span>.</span>
      <li><a href="#"><i class="icon-comment"></i></a></li><span>.</span>
      <li class="text-right muted"><%= l move.created_at, :format => :long %></li>
    </ul>
    <% if can? :create, Comment %>
      <%= link_to 'Comentar lance',
        new_user_channel_match_move_comment_path(move.match.channel.owner, move.match.channel, move.match, move) %>
    <% end %>
    <% if can? :manage, move %>
      <%= link_to 'Editar jogada',
        edit_user_channel_match_move_path(move.match.channel.owner, move.match.channel, move.match, move) %>
      <%= link_to 'Remover jogada',
        user_channel_match_move_path(move.match.channel.owner, move.match.channel, move.match, move),
        :method => :delete %>
    <% end %>
  </td>
</tr>
