
<%= form_for @match, url: { action: action } do |f| %>
  <%= f.hidden_field :channel_id, value: current_user.channels.first.id %>
  <%= f.label :name %>
  <%= '<div class="control-group error">'.html_safe if @match.errors.messages[:name].first %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => "Nome da partida" %>
      <span class="help-inline"><%= @match.errors.messages[:name].first %></span>
    </div>
  <%= '</div>'.html_safe if @match.errors.messages[:name].first %>

  <%= f.label :date %>
  <%= f.date_select :date %>

  <%= f.label :hour %>
  <%= time_select :date, "time" %><br />

  <%= f.label :place %>
  <%= f.text_field :place %>
  <%= f.label :type %>
  <%= f.select :type, options_for_select([["Futebol Americano", "FootballMatch"]]) %><br />
  <%= '<div class="control-group error">'.html_safe if @match.errors.messages[:teams].try(:first) %>
    <%= f.label :team1 %>
    <%= select_tag('football_match[teams_ids][]', options_for_select(@teams.collect { |t| [t.name, t.id] })) %><br />
    <span class="help-inline">não pode ser o mesmo que time 2</span>
    <%= f.label :team2 %>
    <%= select_tag('football_match[teams_ids][]', options_for_select(@teams.collect { |t| [t.name, t.id] }, 2)) %><br />
    <span class="help-inline">não pode ser o mesmo que time 1</span>
  <%= '</div>'.html_safe if @match.errors.messages[:teams].try(:first) %>
  <br />
  <%= f.submit nil, class: 'btn' %>
<% end %>
