<%= form_for @move, :url => match_moves_path(@match), remote: :true do |f| %>
  <div style="float: left" >
     <%= f.label :description, :value => "Descrição" %>
    <%= f.text_area :description, :cols => "30", :rows => "8", :style => "resize: none;" %>
  </div>
  <div style="float: right">
     <div>
    <%= f.label :quarto %>
    <%= f.select :quarter, options_for_select([["--", 0], ["First", 1],
      ["Second", 2], ["Third", 3], ["Fourth", 4]]) %>
    </div>
     <div>
      <%= f.label :tempo %>
      <%= f.select :minute, options_for_select(@minutes) %>
    </div>
     <div>
      <%= f.label :jardas %>
      <%= f.select :yards, options_for_select(@yards) %>
    </div>
  </div>
  <div>
    <%= f.label :time %>
    <%= f.select :team,
    options_for_select(@match.teams.collect { |t| [t.name, t.id] }) %>
  </div>
  <div>
    <%= f.label :jogador %>
    <%= f.select :player,
      options_for_select(Player.all.collect { |p| [p.first_name, p.id] }) %>
  </div>
  <div>
    <%= f.label :jogada %>
    <%= f.select :kind, options_for_select(@kinds) %>
  </div>

  <div>
    <%= f.submit :class => "btn"%>
  </div>
<% end %>
