<% if (preview_counter % 3) == 0 %>
  <% if preview_counter > 0 %>
    </div>
  <% end %>
  <div class="row-fluid">
<% end %>
<div class="span4">
  <%= link_to match_path(preview) do %>
    <div class="well thumbnail row-fluid">
      <table class="table table-striped" style="margin-bottom: 0px">
        <thead>
          <tr>
            <th colspan="3" style="line-height: 5px">
              <p>
                <%= preview.name %> |
                <span id='match-<%= preview.id %>-viewers' class='team-avatar label'
                  data-toogle='tooltip' data-placement='top'
                  data-original-title='Fãs acompanhando esta partida'>
                  <%= preview.viewers_count %>
                </span>
              </p>
              <p class="muted" style="font-size: 11px">
                por <%= link_to(preview.channel.owner.display_name,"#") %><span style="padding: 0px 5px">.</span>
                <%= time_ago_in_words(preview.created_at, include_seconds=true).gsub('aproximadamente','±')%>
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="33%" style="text-align: right">
              <%= image_tag(preview.teams[0].avatar(:thumb_90), style: "width: 50px",
                class: 'team-avatar', :'data-toggle' => 'tooltip',
                :'data-placement' => 'top', :'data-original-title' => preview.teams[0].name) %><br />
              <%= preview.teams[0].abbreviation %>
            </td>
            <td width="33%"  style="text-align: center; white-space: nowrap">
              <h3> <%= preview.value1.to_s + " X " + preview.value2.to_s%> </h3>
            </td>
            <td width="33%" style="text-align: left">
              <%= image_tag(preview.teams[1].avatar(:thumb_90),  style: "width: 50px",
                class: 'team-avatar', :'data-toggle' => 'tooltip',
                :'data-placement' => 'top', :'data-original-title' => preview.teams[1].name) %><br />
              <%= preview.teams[1].abbreviation %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <% if preview.place? %>
                <p><%= preview.place %></p>
              <% else %>
                <p><%= "--"%><p>
              <% end %>
              <p><%= l preview.date, format: :short %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
