<%= form_for @match, :url => { :action => "create" } do |f| %>
  <%= f.label :name, "Nome:" %>
  <%= f.text_field :name, :placeholder => "Nome da partida" %><br />
  <%= f.label :date, "Data:" %>
  <div class='input-append'>
    <%= f.text_field :date, :readonly => 'readonly',
      :value => Date.today.strftime('%d/%m/%Y') %>
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>
  <%= f.label :hour, "Hora:" %>
  <%= f.time_select :date %><br />
  <%= f.label :type, "Esporte: " %>
  <%= f.select :type, options_for_select([["Futebol Americano", "FootballMatch"]]) %><br />
  <%= f.label :team1, "Time 1:" %>
  <%= select_tag('football_match[teams_ids][]', options_for_select(@teams.collect { |t| [t.name, t.id] })) %><br />
  <%= f.label :team2, "Time 2:" %>
  <%= select_tag('football_match[teams_ids][]', options_for_select(@teams.collect { |t| [t.name, t.id] })) %><br />
  <%= f.submit %>
<% end %>
