<script type="text/javascript">
  setTimeout('loadXMLDoc()', 10000);
</script>
<% content_for :left_side_bar do %>
  <%= image_tag("profile_picture.jpg") %>
  <h1>
    <%= link_to @match.channel.name, user_channel_path(@match.channel.owner, @match.channel) %>
  </h1>
  <ul class="nav nav-tabs nav-stacked">
    <h2>Partidas</h2>
    <% @match.channel.matches.each do |m| %>
      <li><%= link_to m.name, user_channel_match_path(@match.channel.owner, @match.channel, m) %></li>
    <% end %>
  </ul>
<% end %>

<%= @match.teams[0].name %>
<%= image_tag("escudos/1.gif") %>
<%= @match.value1.to_s %>
X
<%= @match.value2.to_s %>
<%= image_tag("escudos/2.gif") %>
<%= @match.teams[1].name %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Lance a Lance</th>
    </tr>
  </thead>
  <tbody>
    <%= render @moves %>
  </tbody>
</table>
