  <% channel = @user.channels.first
     match = channel.matches.first
     match.value1=0
     match.value2=0 %>

  <header id= 'channel-header' class='grid_16'>
    <div id="profile-picture">
      <%= image_tag("profile_picture.jpg") %>
      <h1>  <%= channel.name %> </h1>
    </div>
  </header>

  <section class="grid_16">
    <nav class="grid_3 alpha">
      <ul>
        <h2> Matches </h2>
        <% channel.matches.each do |m| %>
        <li> <%= m.name %> </li>
        <% end %>
      </ul>
    </nav>

    <section class="grid_10">
      <header id="score">
        <h1>
          <%= match.teams[0].name + ' ' + match.value1.to_s() %>
          X <%= match.value2.to_s() + ' ' +  match.teams[1].name %>
        </h1>
      </header>

      <section>
        <ul>
          <% match.moves.each do |move| %>
            <li><%= move.to_string %></li>
          <% end %>
        </ul>
      </section>

    </section>

    <aside>

    </aside>

  </section>
