<%= subscribe_to new_user_channel_match_move_path(@match.channel.owner, @match.channel, @match) %>
<% content_for :top_of_content do %>
  <div class="well">
    <% if can? :create, @move %>
      <%= render :partial => 'moves/form' %>
    <% end %>
  </div>
<% end %>

<% content_for :left_side_bar do %>
 <div class="well">
    <%= image_tag("profile_picture.jpg") %>
    <h1>
      <%= link_to @match.channel.name, user_channel_path(@match.channel.owner, @match.channel) %>
    </h1>
    <ul class="nav nav-tabs nav-stacked">
      <h2>Partidas</h2>
      <% @match.channel.matches.each do |m| %>
        <li><%= link_to m.name, user_channel_match_path(@match.channel.owner, @match.channel, m) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <h1>
    <%= @match.name %>
  </h1>
  <%= @match.teams[0].name %>
  <%= image_tag @match.teams[0].avatar(:thumb) %>
  <%= @match.value1.to_s %>
  X
  <%= @match.value2.to_s %>
  <%= image_tag @match.teams[1].avatar(:thumb) %>
  <%= @match.teams[1].name %>
</div>
<!-- Lance a Lance -->
<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lance a Lance</th>
      </tr>
    </thead>
    <tbody id='moves'>
      <%= render @moves %>
    </tbody>
  </table>
</div>
