<%= content_for :load_javascript_after_application do %>
  <%= subscribe_to new_user_channel_match_move_path(@match.channel.owner, @match.channel, @match) %>
<% end %>

<% content_for :top_of_content do %>
  <% if can? :create, @move %>
    <div class="well">
      <%= render :partial => 'new_move' %>
    </div>
  <% end %>
<% end %>

<% content_for :left_side_bar do %>
  <div class="well">
    <%= image_tag("profile_picture.jpg", :size => "128x128", :class => "text-center") %>
    <h3>
      <%= link_to @match.channel.name, user_channel_path(@match.channel.owner, @match.channel) %>
    </h3>
    <h4>Partidas</h4>
    <ul class="nav nav-list">
      <% @match.channel.matches.each do |m| %>
        <li><%= link_to m.name, user_channel_match_path(@match.channel.owner, @match.channel, m) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well text-center">
  <%=
    if @match.teams[0].is_official
            image_tag("oficial.png", :width => "50")
        end
  %>
  <%= @match.teams[0].name %>
  <%= image_tag @match.teams[0].avatar(:thumb) %>
  <%= @match.value1.to_s %>
  X
  <%= @match.value2.to_s %>
  <%= image_tag @match.teams[1].avatar(:thumb) %>
  <%= @match.teams[1].name %>
  <%=
    if @match.teams[1].is_official
            image_tag("oficial.png", :width => "50")
        end
  %>
</div>
<!-- Lance a Lance -->
<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lance a Lance</th>
      </tr>
    </thead>
    <tbody id='moves'>
      <%= render @moves %>
    </tbody>
  </table>
    <%= link_to_unless @moves.last_page?, "Mostrar mais...",
        user_channel_match_moves_path(@match.channel.owner, @match.channel, @match,
        :page => (@moves.current_page+1)), :rel => 'next', :remote => true,
        :id => 'show-more' %>
</div>
