<%# subscribe_to tem que ser chamado depois de carregar os javascripts %>
<%# por isso ele é colocado dentro de um content_for %>
<% content_for :subscribe_to_match do %>
  <%= subscribe_to new_match_move_path(@match) %>
<% end %>

<% content_for :left_side_bar do %>
  <div class='thumbnail well'>
    <%= image_tag(@match.channel.avatar(:thumb)) %>
    <h3><%= @match.channel.name %></h3>
    <ul class="nav nav-list">
      <li>
        <%= link_to 'Página do Canal', channel_path(@match.channel) %>
      </li>
    </ul>
    <h4>Partidas</h4>
    <ul class="nav nav-list">
      <% @match.channel.matches.each do |m| %>
        <li><%= link_to m.name, match_path(m) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if can? :create, @move %>
      <div class="well hidden-tablet hidden-phone">
        <table class='table'>

          <thead>
            <tr class='hidden-tablet hidden-phone'>
              <td>
                <%#FIXME Pensar num jeito de refatorar esse .each %>
                <% ['punt', 'extrapoint', 'penalty', 'kickoff', 'fumble', 'tackle',
                  'therun', 'turnover', 'time', 'touchdown', 'fieldgoal', 'thepass'].each do |kind| %>
                  <div class='dropdown' style='float: left; padding: 5px;'>
                    <%= link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
                      <%= image_tag("icons/#{kind}.png", class: 'img-circle img-polaroid',
                        style: 'width: 80px; height: 80px') %>
                    <% end %>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li>
                        <div style='padding: 15px;'>
                          <%#TODO Transformar formulário abaixo em uma partial %>
                          <h3><%= kind.capitalize %>!</h3>
                          <%= form_for Move.new, url: { match_id: @match, action: 'create', controller: 'moves' },
                            :html => { autocomplete: 'off' }, remote: 'true' do |f| %>
                            <%= f.hidden_field :kind, value: kind %>
                            <%= f.label :team %>
                            <%= f.select :team,
                              options_for_select(@match.teams.collect { |t| [t.name, t.id] }) %>
                            <%= f.label :player %>
                            <%= f.text_field :player, class: 'typeahead player',
                              autocomplete: 'off', required: 'true' %>
                            <%= f.label :yards %>
                            <%= f.select :yards, options_for_select(many_yards) %>
                            <%= f.label :description %>
                            <%= f.text_area :description, cols: "30", rows: "8", style: "resize: none;" %>
                            <%= f.submit :class => "btn" %>
                          <% end %>
                        </div>
                      </li>
                    </ul>
                  </div>
                <% end %>
              </td>
            </tr>
            <tr class='hidden-desktop'>
              <td>
                <%= render :partial => 'new_move' %>
              </td>
            </tr>
          </thead>

        </table>
        <%#FIXME Tableless? Que é que é isso? %>
      </div>
  <% end %>

  <div class=" well">
    <div class="visible-desktop">
      <div class="row-fluid">
        <div class="span4">
          <div class="hidden-phone"><%= @match.teams[0].name %></div>
          <div class="visible-phone"><%= @match.teams[0].abbreviation %> </div>
        </div>
        <div class="span4">
          <%= image_tag @match.teams[0].avatar(:thumb), style: "width: 60px; max-width:60px;" %>
          <%= @match.value1.to_s + " X " + @match.value2.to_s%>
          <%= image_tag @match.teams[1].avatar(:thumb), style: "width: 60px; max-width:60px;" %>
        </div>
        <div class="span4">
          <div class="hidden-phone"><%= @match.teams[1].name %></div>
          <div class="visible-phone"><%= @match.teams[1].abbreviation %> </div>
        </div>
      </div>
    </div>

    <div class="hidden-desktop">
      <table class="table" style="margin-bottom: 0px">

        <thead>
          <tr>
            <td width="33%" style="text-align: right">
              <%= image_tag @match.teams[0].avatar(:thumb), style: "width: 50px" %><br />
              <%= @match.teams[0].abbreviation %>
            </td>
            <td width="33%"  style="text-align: center; white-space: nowrap">
              <h3> <%= @match.value1.to_s + " X " + @match.value2.to_s%> </h3>
            </td>
            <td width="33%" style="text-align: left">
              <%= image_tag @match.teams[1].avatar(:thumb),  style: "width: 50px" %><br />
              <%= @match.teams[1].abbreviation %>
            </td>
          </tr>
          </thead>

      </table>
    </div>
  </div>
<% if can? :manege, @match %>
  
  <a class="btn hidden-desktop" data-target=".new-move-collapse" data-toggle="collapse">
    Nova Jogada
  </a>
  <div class="new-move-collapse collapse">
    <%= render partial: 'moves/form', locals: { action: 'create', remote: 'true' } %>
  </div>

<% end %>
<% if @moves.empty? %> <%# Mensagens para quando a partida não possui jogadas %>
  <div class='alert alert-info'>
    <% if @match.date <= Time.now # transmissão já deveria ter começado %>
      A partida já deveria ter começado mas ainda nenhum lance foi adicionado. Talvez
      <%= @match.channel.owner.first_name %>, o dono do canal, esteja atrasado.
    <% else %>
      <strong>Oi, <%= current_user.try(:first_name) || 'torcedor(a)' %></strong>.
      Que bom que você veio acompanhar esta partida! Ela está programada para começar
      <%= l @match.date, format: :short %>h. Mas fique ligado! Novos lances podem
      surgir mesmo antes do início da partida.
    <% end %>
  </div>
<% else %> <%# Lance a Lance, exibido quando há ao menos uma jogada %>
  <div class="well">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">Lance a Lance</th>
        </tr>
      </thead>
      <tbody id='moves'>
        <%= render partial: 'moves/move', collection: @moves,
          locals: { show_comment_button: 'true', show_edition_buttons: 'true' } %>
      </tbody>
    </table>
    <%= link_to_unless(@moves.last_page?, "Mostrar mais...",
      match_moves_path(@match,
      page: (@moves.current_page+1)), rel: 'next', remote: true, class: 'btn',
      id: 'show-more', style: 'margin: auto;') do |name| %>
      <%= name = '' %> <%# # passa um bloco que apaga o 'Mostrar mais...' %>
    <% end %>
  </div>
<% end %>
